@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
	font-family: 'Open Sans', sans-serif;
}
button#save {
	float: right;
	font-size: 16px;
}
div#success {
	background-color: chartreuse;
	width: 3.5em;
	text-align: center;
	display: none;
}